<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/base_layout">
<head>
    <meta charset="UTF-8"/>
    <link href="../../../static/css/bootstrap.min.css" th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet"/>
    <title th:text="#{authority}">Authority</title>
</head>
<body layout:fragment="content">

<form class="form-horizontal" th:action="@{/authority}" th:object="${authority}" method="post">

    <input th:type="hidden" th:if="*{id} != null" th:field="*{id}"/>

    <div th:classappend="${#fields.hasErrors('name')} ? 'has-error'" class="form-group">
        <label th:for="${#ids.next('name')}" class="col-sm-2 control-label" th:text="#{authority.form.name}">Name</label>

        <div class="col-sm-10">
            <input type="text" class="form-control" th:field="*{name}" aria-describedby="msgblock"/>

            <span id="msgblock" class="help-block" th:errors="*{name}">Error text</span>
        </div>
    </div>

    <div th:classappend="${#fields.hasErrors('description')} ? 'has-error'" class="form-group">
        <label class="col-sm-2 control-label" th:for="${#ids.next('description')}"
               th:text="#{authority.form.description}">Password</label>
        <div class="col-sm-10">
            <textarea class="form-control" aria-describedby="tablock" th:field="*{description}"/>

            <span id="tablock" class="help-block" th:if="${#fields.hasErrors('description')}"
                  th:errors="*{description}">Error text</span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-1">
            <button type="reset" th:text="#{authority.form.cancel}" class="btn btn-default form-control">Reset</button>
        </div>
        <div class="col-sm-1">
            <button type="submit" th:text="*{id} != null ?  #{authority.form.update} : #{authority.form.submit}"
                    class="form-control btn btn-default">Submit</button>
        </div>
    </div>
</form>
</body>
</html>