<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/base_layout">
<head>
    <meta charset="UTF-8"/>
    <link href="../../../static/css/bootstrap.min.css"  th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet"/>
    <title th:text="#{authority.list}">Authorities</title>
</head>
<body layout:fragment="content">
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 th:text="#{authority.list}" class="panel-title">Authorities</h3>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th th:text="#{authority.list.name}">Name</th>
            <th th:text="#{authority.list.description}">Description</th>
            <th th:text="#{authority.list.actions}">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${#lists.isEmpty(page.content)}">
            <td th:text="#{authority.list.no.authority}">No authorities available</td>
        </tr>
        <tr th:each="authority : ${page.content}">
            <td th:text="${authority.name}">Name</td>
            <td th:text="${authority.description}">Description</td>
            <td>
                <span >
                    <a role="button" href="#" class="btn btn-default btn-xs"  th:href="@{/authority/{id}/(id=${authority.id})}">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"/>
                        <span th:text="#{authority.list.view}">view</span>
                    </a>
                </span>
                <span>
                    <a role="button" href="#" class="btn btn-default btn-xs"  th:href="@{/authority/{id}/edit(id=${authority.id})}">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        <span th:text="#{authority.list.edit}">edit</span>
                    </a>
                </span>
                <span>
                    <a role="button" href="#" class="btn btn-default btn-xs"  th:href="@{/authority/{id}/delete(id=${authority.id})}">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        <span th:text="#{authority.list.delete}">delete</span>
                    </a>
                </span>
            </td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="navigation">
        <ul class="pager">
            <li>
                <a th:if="${page.hasPrevious()}"
                   th:href="@{/authorities(page=${page.previousPageable().getPageNumber()},
                    page.size=${page.previousPageable().getPageSize()})}"
                   th:text="${'previous '} + ${page.getSize()}">Previous</a></li>

            <li><th:span th:text=" 'page ' + ${ __${page.getNumber() + 1}__ + ' of ' + __${page.getTotalPages()}__}">page x of y</th:span></li>

            <li><a th:if="${page.hasNext()}"
                   th:href="@{/authorities(page=${page.nextPageable().getPageNumber()},
                    page.size=${page.nextPageable().getPageSize()})}"
                   th:text="${'next '} + ${page.getSize()}">Next</a>

            </li>
        </ul>
    </nav>

</div>
</body>
</html>