<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/base_layout">
<head>
    <meta charset="UTF-8"/>
    <link href="../../../static/css/bootstrap.min.css" th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet"/>
    <title th:text="#{authority.view}">View</title>
</head>
<body layout:fragment="content">
<form class="form-horizontal" action="#" th:object="${authority}">

    <div class="form-group">
        <label th:for="${#ids.next('name')}" class="col-sm-2 control-label"
               th:text="#{authority.form.name}">Name</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" th:field="*{name}" th:readonly="readonly"/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" th:for="${#ids.next('description')}"
               th:text="#{authority.form.description}">Password</label>
        <div class="col-sm-4">
            <textarea class="form-control" th:readonly="readonly" th:field="*{description}"/>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-1">
            <a type="submit" th:href="@{/authority/{id}/edit(id=${authority.id})}" th:text="#{authority.view.edit}"
               class="form-control btn btn-default">Submit</a>
        </div>
        <div class="col-md-2">
            <a type="submit" th:href="@{/authorities}" class="form-control btn btn-default"
               th:text="#{authority.view.list}">Submit</a>
        </div>
    </div>
</form>
</body>
</html>