<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/base_layout">
<head>
    <meta charset="UTF-8"/>
    <link href="../../../static/css/bootstrap.min.css" th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet"/>
    <title th:text="#{pipouser}">User</title>
</head>
<body layout:fragment="content">
<form class="form-horizontal" th:action="@{/user}" th:object="${pipoUser}" method="post">

    <input th:type="hidden" th:if="*{id} != null" th:field="*{id}"/>

    <!--Firstname and lastname -->
    <div class="row">
        <div class="col-sm-6">
            <div th:classappend="${#fields.hasErrors('firstname')} ? 'has-error'" class="form-group">
                <label th:for="${#ids.next('firstname')}" class="col-sm-6 control-label"
                       th:text="#{pipouser.form.firstname}">First
                    Name</label>
                <div class="col-sm-6">
                    <input class="form-control" th:field="*{firstname}" aria-describedby="firstnameblock"/>
                    <span id="firstnameblock" class="help-block" th:errors="*{firstname}">Error text</span>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div th:classappend="${#fields.hasErrors('middlename')} ? 'has-error'" class="form-group">
                <label th:for="${#ids.next('lastname')}" class="col-sm-6 control-label"
                       th:text="#{pipouser.form.middlename}">Last
                    Name</label>
                <div class="col-sm-6">
                    <input class="form-control" th:field="*{middlename}" aria-describedby="middlenameblock"/>
                    <span id="middlenameblock" class="help-block" th:errors="*{middlename}">Error text</span>
                </div>
            </div>
        </div>
    </div>

    <!--Last name and email-->
    <div class="row">
        <div class="col-sm-6">
            <div th:classappend="${#fields.hasErrors('lastname')} ? 'has-error'" class="form-group">
                <label th:for="${#ids.next('lastname')}" class="col-sm-6 control-label"
                       th:text="#{pipouser.form.lastname}">Last
                    Name</label>
                <div class="col-sm-6">
                    <input class="form-control" th:field="*{lastname}" aria-describedby="lastnameblock"/>
                    <span id="lastnameblock" class="help-block" th:errors="*{lastname}">Error text</span>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div th:classappend="${#fields.hasErrors('email')} ? 'has-error'" class="form-group">
                <label th:for="${#ids.next('email')}" class="col-sm-6 control-label" th:text="#{pipouser.form.email}">Last
                    Name</label>
                <div class="col-sm-6">
                    <input th:type="email" class="form-control" th:field="*{email}" aria-describedby="emailblock"/>
                    <span id="emailblock" class="help-block" th:errors="*{email}">Error text</span>
                </div>
            </div>

        </div>
    </div>

    <!--Username and password-->
    <div class="row">
        <div class="col-sm-6">
            <div th:classappend="${#fields.hasErrors('username')} ? 'has-error'" class="form-group">
                <label th:for="${#ids.next('username')}" class="col-sm-6 control-label"
                       th:text="#{pipouser.form.username}">Last
                    Name</label>
                <div class="col-sm-6">
                    <input class="form-control" th:field="*{username}" aria-describedby="usernameblock"/>
                    <span id="usernameblock" class="help-block" th:errors="*{username}">Error text</span>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div th:classappend="${#fields.hasErrors('password')} ? 'has-error'" class="form-group">
                <label th:for="${#ids.next('password')}" class="col-sm-6 control-label"
                       th:text="#{pipouser.form.password}">Password</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" th:field="*{password}"
                           aria-describedby="passwordblock"/>
                    <span id="passwordblock" class="help-block" th:errors="*{password}">Password Error text</span>
                </div>
            </div>
        </div>
    </div>

    <!--Sex and age-->
    <div class="row">
        <div class="col-sm-6">
            <div th:classappend="${#fields.hasErrors('sex')} ? 'has-error'" class="form-group">
                <label th:for="${#ids.next('sex')}" class="col-sm-6 control-label"
                       th:text="#{pipouser.form.sex}">Age</label>
                <div class="col-sm-6">
                    <select th:field="*{sex}" class="form-control" id="sex">
                        <option th:each="eachSex : ${sexList}" th:value="${eachSex}"
                                th:text="${eachSex}">
                            Sex
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div th:classappend="${#fields.hasErrors('age')} ? 'has-error'" class="form-group">
                <label th:for="${#ids.next('age')}" class="col-sm-6 control-label"
                       th:text="#{pipouser.form.age}">Age</label>
                <div class="col-sm-6">
                    <input class="form-control" th:field="*{age}" aria-describedby="ageblock"/>
                    <span id="ageblock" class="help-block" th:errors="*{age}">Error text</span>
                </div>
            </div>
        </div>
    </div>

    <!--Address-->
    <div class="row">
        <div class="col-sm-6">
            <div th:classappend="${#fields.hasErrors('address')} ? 'has-error'" class="form-group">
                <label th:for="${#ids.next('address')}" class="col-sm-6 control-label"
                       th:text="#{pipouser.form.address}">Address</label>
                <div class="col-sm-6">
                    <input class="form-control" th:field="*{address}" aria-describedby="addressblock"/>
                    <span id="addressblock" class="help-block" th:errors="*{address}">Error text</span>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div th:classappend="${#fields.hasErrors('city')} ? 'has-error'" class="form-group">
                <label th:for="${#ids.next('city')}" class="col-sm-6 control-label"
                       th:text="#{pipouser.form.city}">City</label>
                <div class="col-sm-6">
                    <input class="form-control" th:field="*{city}" aria-describedby="cityblock"/>
                    <span id="cityblock" class="help-block" th:errors="*{city}">Error text</span>
                </div>
            </div>
        </div>
    </div>


    <!--Roles-->
    <div class="row">
        <div class="col-sm-6">
            <div th:classappend="${#fields.hasErrors('authorities')} ? 'has-error'" class="form-group">
                <label th:for="${#ids.next('authorities')}" class="col-sm-6 control-label"
                       th:text="#{pipouser.form.authorities}">Last Name</label>
                <div class="col-sm-6">
                    <select th:field="*{authorities}" class="form-control" id="authorities" th:multiple="multiple">
                        <option th:each="authority : ${authorityList}" th:value="${authority.id}"
                                th:text="${authority.name}">Authority Names
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div th:classappend="${#fields.hasErrors('age')} ? 'has-error'" class="form-group">
                <!--<label th:for="${#ids.next('age')}" class="col-sm-6 control-label"-->
                <!--th:text="#{pipouser.form.age}">Age</label>-->
                <!--<div class="col-sm-6">-->
                <!--<input class="form-control" th:field="*{age}" aria-describedby="ageblock"/>-->
                <!--<span id="ageblock" class="help-block" th:errors="*{age}">Error text</span>-->
                <!--</div>-->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-offset-3  col-sm-6">
            <div class="form-group">
                <div class="col-sm-2">
                    <button type="reset" th:text="#{pipouser.form.cancel}" class="btn btn-default form-control">Reset
                    </button>
                </div>
                <div class="col-sm-2">
                    <button th:text="*{id} != null ?  #{pipouser.form.update} : #{pipouser.form.submit}"
                            class="form-control btn btn-default">Submit
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>