<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/base_layout">
<head>
    <meta charset="UTF-8"/>
    <link href="../../../static/css/bootstrap.min.css"  th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet"/>
    <title th:text="#{pipouser.list}">Users</title>
</head>
<body layout:fragment="content">
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <h3 th:text="#{pipouser.list}" class="panel-title">Users</h3>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th th:text="#{pipouser.list.firstname}">First Name</th>
            <th th:text="#{pipouser.list.lastname}">Last Name</th>
            <th th:text="#{pipouser.list.email}">Email</th>
            <th th:text="#{pipouser.list.adress}">Address</th>
            <th th:text="#{pipouser.list.age}">Age</th>
            <th th:text="#{pipouser.list.actions}">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${#lists.isEmpty(page.content)}">
            <td th:text="#{pipouser.list.no.pipouser}">No users available</td>
        </tr>
        <tr th:each="pipouser : ${page.content}">
            <td th:text="${pipouser.firstname}">First Name</td>
            <td th:text="${pipouser.lastname}">Last Name</td>
            <td th:text="${pipouser.email}">Email</td>
            <td th:text="${pipouser.address}">Address</td>
            <td th:text="${pipouser.age}">Age</td>
            <td>
                <span >
                    <a role="button" href="#" class="btn btn-default btn-xs"  th:href="@{/user/{id}/(id=${pipouser.id})}">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"/>
                        <span th:text="#{authority.list.view}">view</span>
                    </a>
                </span>
                <span>
                    <a role="button" href="#" class="btn btn-default btn-xs"  th:href="@{/user/{id}/edit(id=${pipouser.id})}">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        <span th:text="#{authority.list.edit}">edit</span>
                    </a>
                </span>
                <span>
                    <a role="button" href="#" class="btn btn-default btn-xs"  th:href="@{/user/{id}/delete(id=${pipouser.id})}">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        <span th:text="#{authority.list.delete}">delete</span>
                    </a>
                </span>
            </td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="navigation">
        <ul class="pager">
            <li>
                <a th:if="${page.hasPrevious()}"
                   th:href="@{/users(page=${page.previousPageable().getPageNumber()},
                    page.size=${page.previousPageable().getPageSize()})}"
                   th:text="${'previous '} + ${page.getSize()}">Previous</a></li>

            <li><th:span th:text=" 'page ' + ${ __${page.getNumber() + 1}__ + ' of ' + __${page.getTotalPages()}__}">page x of y</th:span></li>

            <li><a th:if="${page.hasNext()}"
                   th:href="@{/users(page=${page.nextPageable().getPageNumber()},
                    page.size=${page.nextPageable().getPageSize()})}"
                   th:text="${'next '} + ${page.getSize()}">Next</a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>