<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/base_layout">
<head>
    <meta charset="UTF-8"/>
    <link href="../../../static/css/bootstrap.min.css" th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet"/>
    <title th:text="#{pipouser.view}">View</title>
</head>
<body layout:fragment="content">
<form class="form-horizontal" action="#" th:object="${pipoUser}" method="post">

    <!--Firstname and lastname -->
    <div class="row">
        <div class="col-sm-6">
            <div th:classappend="${#fields.hasErrors('firstname')} ? 'has-error'" class="form-group">
                <label th:for="${#ids.next('firstname')}" class="col-sm-6 control-label"
                       th:text="#{pipouser.form.firstname}">First
                    Name</label>
                <div class="col-sm-6">
                    <input class="form-control" th:readonly="readonly" th:field="*{firstname}"/>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div th:classappend="${#fields.hasErrors('middlename')} ? 'has-error'" class="form-group">
                <label th:for="${#ids.next('lastname')}" class="col-sm-6 control-label"
                       th:text="#{pipouser.form.middlename}">Last
                    Name</label>
                <div class="col-sm-6">
                    <input class="form-control" th:readonly="readonly" th:field="*{middlename}"/>
                </div>
            </div>
        </div>
    </div>

    <!--Last name and email-->
    <div class="row">
        <div class="col-sm-6">
            <div th:classappend="${#fields.hasErrors('lastname')} ? 'has-error'" class="form-group">
                <label th:for="${#ids.next('lastname')}" class="col-sm-6 control-label"
                       th:text="#{pipouser.form.lastname}">Last
                    Name</label>
                <div class="col-sm-6">
                    <input class="form-control" th:readonly="readonly" th:field="*{lastname}"/>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div th:classappend="${#fields.hasErrors('email')} ? 'has-error'" class="form-group">
                <label th:for="${#ids.next('email')}" class="col-sm-6 control-label" th:text="#{pipouser.form.email}">
                    Last Name</label>
                <div class="col-sm-6">
                    <input th:type="email" th:readonly="readonly" class="form-control" th:field="*{email}"/>

                </div>
            </div>

        </div>
    </div>

    <!--Username and password-->
    <div class="row">
        <div class="col-sm-6">
            <div th:classappend="${#fields.hasErrors('username')} ? 'has-error'" class="form-group">
                <label th:for="${#ids.next('username')}" class="col-sm-6 control-label"
                       th:text="#{pipouser.form.username}">Last
                    Name</label>
                <div class="col-sm-6">
                    <input class="form-control" th:readonly="readonly" th:field="*{username}"/>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div th:classappend="${#fields.hasErrors('password')} ? 'has-error'" class="form-group">
                <label th:for="${#ids.next('password')}" class="col-sm-6 control-label"
                       th:text="#{pipouser.form.password}">Password</label>
                <div class="col-sm-6">
                    <input type="password" th:readonly="readonly" class="form-control" th:field="*{password}"/>
                </div>
            </div>
        </div>
    </div>

    <!--Sex and age-->
    <div class="row">
        <div class="col-sm-6">
            <div th:classappend="${#fields.hasErrors('sex')} ? 'has-error'" class="form-group">
                <label th:for="${#ids.next('sex')}" class="col-sm-6 control-label"
                       th:text="#{pipouser.form.sex}">Age</label>
                <div class="col-sm-6">
                    <select th:disabled="disabled" th:field="*{sex}" class="form-control" id="sex">
                        <option th:each="eachSex : ${sexList}" th:value="${eachSex}"
                                th:text="${eachSex}">
                            Sex
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div th:classappend="${#fields.hasErrors('age')} ? 'has-error'" class="form-group">
                <label th:for="${#ids.next('age')}" class="col-sm-6 control-label"
                       th:text="#{pipouser.form.age}">Age</label>
                <div class="col-sm-6">
                    <input class="form-control" th:readonly="readonly" th:field="*{age}"/>
                </div>
            </div>
        </div>
    </div>

    <!--Address-->
    <div class="row">
        <div class="col-sm-6">
            <div th:classappend="${#fields.hasErrors('address')} ? 'has-error'" class="form-group">
                <label th:for="${#ids.next('address')}" class="col-sm-6 control-label"
                       th:text="#{pipouser.form.address}">Address</label>
                <div class="col-sm-6">
                    <input class="form-control" th:readonly="readonly" th:field="*{address}"/>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div th:classappend="${#fields.hasErrors('city')} ? 'has-error'" class="form-group">
                <label th:for="${#ids.next('city')}" class="col-sm-6 control-label"
                       th:text="#{pipouser.form.city}">City</label>
                <div class="col-sm-6">
                    <input class="form-control" th:readonly="readonly" th:field="*{city}"/>
                </div>
            </div>
        </div>
    </div>


    <!--Roles-->
    <div class="row">
        <div class="col-sm-6">
            <div th:classappend="${#fields.hasErrors('authorities')} ? 'has-error'" class="form-group">
                <label th:for="${#ids.next('authorities')}" class="col-sm-6 control-label"
                       th:text="#{pipouser.form.authorities}">Last Name</label>
                <div class="col-sm-6">
                    <select th:disabled="disabled"  th:field="*{authorities}" class="form-control" id="authorities"
                            th:multiple="multiple">
                        <option th:each="authority : ${authorityList}" th:value="${authority.id}"
                                th:text="${authority.name}">Authority Names
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-offset-3  col-sm-6">
            <div class="form-group">
                <div class="col-sm-2">
                    <a type="submit" th:href="@{/user/{id}/edit(id=${pipoUser.id})}" th:text="#{pipouser.view.edit}"
                       class="form-control btn btn-default">Submit</a>
                </div>
                <div class="col-sm-3">
                    <a type="submit" th:href="@{/users}" class="form-control btn btn-default"
                       th:text="#{pipouser.view.list}">List of Users</a>
                </div>
            </div>
        </div>
    </div>
</form>

</body>
</html>