<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<img th:src="@{/static/img/favicon.png}"/>
<h4><span th:text="${metName}">Craig Walls</span> says...</h4>
<i><span th:text="${clazzName}">Hello there!</span></i>
</body>
</html>